.section-black {
  min-width: 100%;
  height: 535px;
  background: #171717;

  &__head {
    display: flex;
  }

  &__line {
    margin-top: 122px;
    margin-left: 270px;
    background: url("../images/Line.svg");
    min-width: 428px;
    height: 1px;
  }

  &__header {
    margin-top: 101px;
    margin-left: 20px;
    font-family: "Mplus 1p", sans-serif;
    font-weight: 800;
    font-size: 32px;
    line-height: 130%;
    text-transform: uppercase;
    color: #fff;
  }

  @media screen and (max-width: 1515px) {
    &__line {
      margin-left: 0;
      min-width: 428px;
    }
  }

  @media screen and (max-width: 1060px) {
    &__line {
      margin-left: 0;
      min-width: 147px;
    }
  }

  @media screen and (max-width: 1060px) {
    &__header {
      font-size: 25px;
    }
  }

  @media screen and (max-width: 762px) {
    &__line {
      display: none;
    }
  }

  @media screen and (max-width: 576px) {
    &__header {
      margin-top: 62px;
    }
  }

}

@media screen and (max-width: 576px) {
  .section-black {
    height: 936px;
  }
}
