.section-professionals {
  min-width: 100%;
  background: #171717;

  &__head {
    font-family: "Mplus 1p", sans-serif;
    font-weight: 800;
    font-size: 32px;
    line-height: 130%;
    text-transform: uppercase;
    color: #fff;
    padding-top: 97px;
    padding-bottom: 88px;
    padding-left: 278px;
  }

  &__line {
    max-width: 371px;
  }

  &__card {
    width: 265px;
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
  }

  &__text {
    font-family: "Mplus 1p", sans-serif;
    font-size: 20px;
    line-height: 150%;
    text-align: center;
    color: rgba(255, 255, 255, 0.7);
    transform: rotate(-0.56deg);
    margin-bottom: 103px;
  }

  @media screen and (max-width: 1385px) {
    &__head {
      padding-left: 140px;
    }
  }

  @media screen and (max-width: 1245px) {
    &__head {
      padding-left: 100px;
    }

    &__line {
      max-width: 315px;
    }

  }

  @media screen and (max-width: 1072px) {
    &__head {
      padding-left: 30px;
    }
  }

  @media screen and (max-width: 1013px) {
    &__line {
      max-width: 280px;
    }
  }

  @media screen and (max-width: 987px) {
    &__line {
      max-width: 215px;
    }

    &__head {
      padding-top: 65px;
      padding-left: 27px;
    }
  }

  @media screen and (max-width: 915px) {
    &__head {
      font-size: 28px;
      text-align: center;
    }
  }

  @media screen and (max-width: 757px) {
    &__line {
      display: none;
    }

    &__head {
      text-align: center;
      padding-bottom: 50px;
      padding-left: 5px;
    }
  }
}
