@import "utils";
@import "fonts";
@import "typography";
@import "header";
@import "navbar";
@import "form";
@import "section-white";
@import "section-black";
@import "numbers";
@import "section-advantages";
@import "section-professionals";
@import "section-content";
@import "section-skills";
@import "section-results";
@import "section-registration";
@import "footer";
@import "countdown";

.header {
  margin: 0;
  padding: 0;
}

a {
  transition: color 1s;
}
